.principal-nosotros{
    width: 100%;
    max-width: 100%;
} 

.Restaurante-Historia {
    display: flex;
    flex-direction: row;
    height: 40%;
    background-color: transparent;
    margin-right: 2rem;
}

.Img-Historia {
    width: 50%;
    margin-top: 4rem;
    margin-left: 4rem;
}

.Img-Historia img {
    width: 90%;
    background-size: cover;
    height: auto;
    border-radius: 20px;
    box-shadow:  20px 20px 60px #505355;
    max-width: 100%;
}

.Texto-historia {
    width: 50%;
    margin-top: 4rem;
}

.Texto-historia h1 {
    text-align: center;
    font-family:Impact;
    color: rgb(168, 98, 6);
}

.Texto-historia h1 span {
    font-size: 3rem;
    color: rgb(58, 28, 6);
}

.Texto-historia p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

/*empleados css*/

.empleados {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%; 

}

.Trabajador {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.Trabajador img{
    height: 15rem;
    width: 15rem;
    border-radius: 150px;
    margin-bottom: 1rem;
    border: thick double black;
}

.Trabajador h3,h6 {
    text-align: center;
}

.Trabajador h3 {
    font-size: 1.5rem;
    text-emphasis: '.';
    -webkit-text-emphasis: '.';
}

.Carrusel {
    background-color: transparent;
}

.Carrusel-interno {
    padding: 1rem;
}

.Carrusel-interno h6 {
    margin-top: 5rem;
    margin-left: 2rem;
}

.Carrusel-text-img {
    display: flex;
    text-align: center;
}

.Testimonio-img {
    height: 15rem;
    width: 15rem;
    border-radius: 150px;
    margin-bottom: 1rem;
    margin-left: 6rem;
}

.comillas {
    font-size: 2rem;
}